@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zdgvn5');
  src:  url('fonts/icomoon.eot?zdgvn5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zdgvn5') format('truetype'),
    url('fonts/icomoon.woff?zdgvn5') format('woff'),
    url('fonts/icomoon.svg?zdgvn5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-helloween:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
